<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Phishing Detection System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container">
    <a class="navbar-brand" href="/">Phishing Detection System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/analyzer">Analyze Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comparison">Compare Classifiers</a>
            </li>
        </ul>
    </div>
</div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This system uses ML techniques and LLM tools to detect phishing emails</p>
        <hr class="my-4">
        <p>Choose an option to start analyzing your email.</p>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Analyze Email</h5>
                        <p class="card-text">Analyze your email using one of three machine learning models: Random Forest, SVM, or XGBoost.</p>
                        <p class="card-text">At the end of the process you can use an artificial intelligence tool to ensure the result obtained</p>
                        <a href="/analyzer" class="btn btn-primary">Continue with the analysis</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Compare classifiers</h5>
                        <p class="card-text">Your email will be analyzed by all three classifiers, compare the result obtained from the three.</p>
                        <p class="card-text">At the end of the process you can use an artificial intelligence tool to ensure the result obtained</p>
                        <a href="/comparison" class="btn btn-primary">Continue with the comparison</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>